

@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";

}

<html>
<head><link href="Site.css" rel="stylesheet" type="text/css">
</head><hr />
<body><select id="Select1">
    <option>test 1</option>
    <option>test 2</option>
    <option>test 3</option>
    <option>test 4</option>
</select><input id="Text1" type="text" placeholder="text" /><input id="Submit1" type="submit" value="submit" /></body><hr />


</html>





