<!DOCTYPE html>
@{
    ViewBag.Title = "Index";

}
<html>
<head><link href="Site.css" rel="stylesheet" type="text/css">
</head><hr />
<body><select id="Select1">
    <option>test 1</option>
    <option>test 2</option>
    <option>test 3</option>
    <option>test 4</option>
</select></body><hr />
</html>





