<!DOCTYPE html>
<html>
<head><link href="Site.css" rel="stylesheet" type="text/css">
</head><hr />
<body><hr /><input id="Text1" type="text" /><input id="Submit1" type="submit" value="submit" /> 
</body><hr />
</html>





