<!DOCTYPE html>
<html>
<head><link href="Site.css" rel="stylesheet" type="text/css">
</head><hr />
<body><hr /><div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Genre</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="#">Drama</a>
        <a href="#">Action</a>
        <a href="#">Sci-fi</a>
    </div>
</div>

<input id="Text1" type="text" placeholder="Book Title"  /><textarea id="TextArea1" rows="2" placeholder="Review" cols="20"></textarea><input id="Submit1" type="submit" value="submit" /> 
<script type="text/javascript" src="DropdownMenu.js"></script></body><hr />
</html>





