<!DOCTYPE html>

<html>
<head><link href="Site.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width" />
    <h1> Home page layout</h1>
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
